<?xml version="1.0" encoding="UTF-8"?>
<root>
  <errors>false</errors>
  <loss>0.4</loss>
  <delay>0.4</delay>
  <ghost>0.4</ghost>
  <payload>0.4</payload>
  <header>0.4</header>
  <onlydata>true</onlydata>
  <serverAddress>localhost</serverAddress>
  <serverport>10500</serverport>
  <simpleConnection>false</simpleConnection>
</root>

